<div class="row" *ngFor="let session of visibleSession">
  <div class="col-md-1">
    <div *ngIf="auth.isAuthenticated()">
      <upvote (vote)="toggleVotes(session)" [count]="session.voters.length" [voted]="userHasVoted(session)"></upvote>
    </div>
  </div>
  <div class="col-md-10">
    <collapsible-well>
        <div well-title>
          {{session.name}}
          <i class="glyphicon glyphicon-fire" *ngIf="session.voters.length > 3" style="color:red"></i>
        </div>
        <div well-body>
          <h6>{{session.presenter}}</h6>
          <span>Duration: {{session.duration | duration}}</span><br />
          <span>Level: {{session.level}}</span>
          <p>{{session.abstract}}</p>
        </div>
      </collapsible-well>
  </div>
</div>
